img{
    display: block;
}
 
ul{
    list-style-type:none ;
   
}
.ps4{
    background-color: blue;
}
.N{
 background-color: red;
}
.pc{
    background-color: green;
}
table,tr,td,th{
    border: 2px solid black;
    border-collapse: collapse;
}
div{
    display: inline-flex;
}